/* The navigation bar */

body {
  color: #adadad;
  background-color: #262626;
  font-family: 'Lato', sans-serif;
}

.navbar {
  overflow: hidden;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: right;
  display: block;
  color: #adadad;
  text-align: center;
  padding-top: 19px;
  padding-right: 16px;
  padding-bottom: 14px;
  padding-left: 16px;
  margin-right: 15px;
  margin-left: 15px;
  text-decoration: none;
}

/* Links inside the navbar */
.navbar src {
  float: left;
  display: block;
  color: #adadad;
  text-align: center;
  text-decoration: none;
}

.navbar img {
  padding: 10px 15px;
  width: 200px;
}

.asd {
	float: right;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #dddddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 70px; /* Add a top margin to avoid content overlay */
}


td.highlight {
        font-weight: bold;
        color: blue;
    }

.red {
  background-color: #b30000 !important;
  color: #262626;
}

.yellow {
  background-color: #cccc00 !important;
  color: #262626;
}

.green {
  background-color: #00b33c !important;
  color: #262626;
}